/* body * {
    border: 1px dotted red;
} */
body{
    background-color: rgb(10, 23, 41);
}
#container{
    margin-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
    #container img{
        width: 300px;
        margin-bottom: 10px;
    }
    #container #login_form{
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: whitesmoke;
    }
        #login_form p{
            text-align: center;
            width: 200px;
            margin: 0px auto;
            padding-bottom: 10px;
        }
        #login_form form{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
            #login_form form fieldset{
                margin: 5px;
            }
                form fieldset input{
                    width: 250px;
                    height: 40px;
                }
